p{
    text-align: center;
    font-family: sans-serif; 
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.header {
    width: 100%;

}

.logo {
    .width: 100px;
    height: 100px;
    align-self: flex-start;

.nav {
    width: 500px;
    height: 100px;
    Align-self: flex-end;
}

.content {
    width: 80vw;
    height: 100vh;
    background-color: #808080;

.footer {
    width: 100vw;
    height: 100px;
    rad 