p{
    text-align: center;
    font-family: sans-serif; 
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.header {
    width: 100%;

}

.logo {
    .width: 100px;
    height: 100px;
    align-self: flex-start;

.nav {
    width: 500px;
    height: 100px;
    Align-self: flex-end;
}

.content {
    width: 80vw;
    height: 100vh;
    

.footer {
    width: 100vw;
    height: 100px;
    rad 
}
.flex-container > div {
    background-color:#808080;
margin: 10px;
padding: 20 px
font-size: 30px ;
}
</style>
</head>
<body>

<h1>Create a Flex Container</h1>
<div class=".flex-container">
<div<p>A Flexible Layout must have a parent element with the <em>display</em> property set to <em>flex</em>.</p>

<p>Direct child elements(s) of the flexible container automatically becomes flexible items.</p>

</body>
</html>>1</div>
<div>2</div>
<div>3</div>  
</div>

<p>A Flexible Layout must have a parent element with the <em>display</em> property set to <em>flex</em>.</p>

<p>Direct child elements(s) of the flexible container automatically becomes flexible items.</p>

</body>
</html>